@charset "UTF-8";
@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
@import url(https://fonts.googleapis.com/css?family=Cabin:400);
@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";

*
{
  background-color: #1b2431;
}

.App {
  text-align: center;
  background-color: #1b2431;
  color: #202020;
  font-family: "Times New Roman", sans-serif;
  font-size: 13px;
}

.container-fluid {
  background-color: #1b2431;
}
a:hover {
  text-decoration: none;
}
p, figure {
  margin: 0;
  padding: 0;
  color: #efe;
}

/*Sidebar*/
.sidebar {
  background-color: #141a24;
  box-shadow: none;
}
.sidebar .title{
  font-Size: 22px;
  color: white;
  background-color:#141a24;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sidebar .nav-link {
  border-left: 5px solid transparent;
  color: #738297;
  padding: .5rem .75rem;
  background-color:#141a24;
}
.sidebar .nav-link:hover {
  color: white;
}
.sidebar .nav-link.active {
  border-left: 5px solid #738297;
  color: white;
}
.sidebar .zmdi {
  display: inline-block;
  font-size: 1.35rem;
  margin-right: 5px;
  min-width: 25px;
  background-color:#141a24;
}

/*Main Content*/
.content
{
  color : white;
  margin-left: 20%;
}
.content h1{
  padding-bottom: 2%;
}
.content h2{
  padding-top: 2%;
}

.ttable
{
  border-collapse: collapse;
}
.ttable th, .ttable td {
  border: 1px solid #dddddd;
  padding: 8px;
}

/*remove after My Statements update button*/
button
{
  background-color: white;
}


/*category select*/
select{
  color: white;
}

/*Dashboard*/
.chart_container
{
  display: flex;
}
.chart_container h5
{
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.bar
{
  width: 60%;
  height: 40%;
}
.pie
{
  width: 30%;
  height: 30%;
}
.year_widget{
  font-size: 20px;
  margin-bottom: 20px;
}
.year_widget button {
  border: none; /* 移除边框 */
}


/*About*/
.about-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.about-description {
  font-size: 1.2rem;
  line-height: 1.5;
}
.about-features {
  margin-top: 40px;
}
.about-join {
  margin-top: 40px;
  font-size: 1.2rem;
  text-align: center;
}
.feature-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.feature-list {
  list-style-type: disc;
  margin-left: 20px;
}






a:link,
a:visited {
  color: inherit; /* 继承父元素的文本颜色 */
}



.date-picker-container{
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  /*background-color: #a66;*/
  background-color: red;
  /*color: white;*/
  color: red;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.react-datepicker__header {
  text-align: center;
  background-color: #3e82cf;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;

}

.react-datepicker__day-names,
.react-datepicker__day-name {
  color: white; /* 设置日期名称的颜色 */
}

.react-datepicker__day {
  color: white; /* 设置日期的颜色 */
}

.react-datepicker__day--selected {
  background-color: #007bff; /* 设置选中日期的底色 */
  color: red; /* 设置选中日期的字体颜色为白色 */
}

.react-datepicker__day--disabled {
  color: #ccc; /* 设置禁用日期的颜色 */
}

.react-datepicker__today {
  font-weight: bold; /* 设置今天日期的字体加粗 */
  color: white;
}
.react-datepicker__input-container input {
  color: white; /* 设置输入框中字体颜色为白色 */
}
